* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: white;
    display: grid;
}

.container {
    height: 100%;
    margin: 0 auto;
    width: 95%;
    display: grid;

}

.hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url('../assets/images/hero.jpg');
    background-size: cover;
    /* min-height: 500px; */
    height: 100%;
    color: #fff;
}

.hero-color {
    background: rgb(1, 0, 14);
    background: linear-gradient(180deg, rgba(1, 0, 14, 1) 0%, rgba(2, 2, 75, 1) 56%, rgba(0, 38, 129, 1) 97%);
}

/* Header */
header {
    max-height: 8vh;
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation Header */

.nav {
    --state-hamburguer: scale(0);
    --state-close: scale(0);
    --state-menu: translate(0);
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target {
    --state-menu: translate(0);
    --state-close: scale(0);
    --state-hamburguer: scale(0);
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo h2 {
    font-size: 1.5rem;
    z-index: 1;
}

.nav-logo img {
    height: 6vh;
    z-index: 1;
}

.nav-hamburguer {
    transform: var(--state-hamburguer);
}

.nav-close {
    transform: var(--state-close);
}

.nav-icon {
    width: 40px;
}

.nav-links {
    background-color: unset;
    position: unset;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 1.5em;
    transform: unset;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: none;
}

/* main */
main {
    min-height: 85vh;
}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-index h1 {
    margin: 2rem;
    font-size: 4rem;
    transition: 1.5s;
    overflow: hidden;
}

.main-index h1:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.4);
    transition: 1.5s;
}

.main-index h2 {
    margin: 2rem;
    font-size: 2rem;
    transition: 1.5s;
    overflow: hidden;
}

.main-index h2:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.75s;
}

main .main-gallery {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 6px;
    display: grid;
}

.main-gallery h1 {
    text-align: center;
}

/* galeria */

.container-img {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}

.container-img .box-img:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.2);
    transition: 0.75s;
}

/* contact page  */
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contact h1 {
    text-align: center;
    padding-bottom: 5px;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-contact {
    background: #0e1011;
    color: #fff;
    padding: 2rem;
    text-align: center;
    grid-column: 3 / 4;
}

.info-contact h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.info-contact ul {
    margin-top: 4rem;
}

.info-contact ul li {
    margin-top: .5rem;
    display: flex;
    align-items: center;
}

.info-contact ul li img {
    background: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right: .5rem;
}

.form-contact {
    padding: 0 2rem;
    background: rgba(197, 197, 197, 0.705);
    grid-row: 1;
    grid-column: 1 / 3;
}

.form-contact h3 {
    margin: 1.5rem 0 2rem 0;
    font-size: 1.3rem;
    color: #333;
}

.form-contact form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.form-contact label {
    font-weight: bold;
    color: #222222;
    line-height: 1.6;
    opacity: 0.8;
}

.form-contact input {
    height: 2.5rem;
    text-indent: 1em;
    border: .5px solid #149cc567;
}

.form-contact form input,
.form-contact form textarea {
    width: 100%;
}

.form-contact form textarea {
    height: 6rem;
    padding: 1em;
    border: .5px solid #149cc567;
}

.form-contact form .full {
    grid-column: 1 / 3;
}

/* buttons */

.btn-circular {
    display: inline-block;
    border: 2px solid white;
    padding: 1rem 2rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(6, 0, 34);
    transition: color 0.5s, background 0.5s;
    margin: 30px;
    margin-bottom: 15px;
    font-size: 1em;
    min-width: 140px;
    text-align: center;
    border-radius: 30px;
}

.btn-circular:hover {
    color: white;
    background-color: transparent;
}

.btn-circular:active {
    box-shadow: inset 0 0 20px white;
}

.btn-send {

    background: rgb(0, 65, 9);
}

.btn-reset {
    background: rgb(65, 0, 0);
}

.form-btn {
    text-align: center;
}

.form-btn button {
    padding: 0.75rem 0.75rem;
    margin: 5px;
    margin-bottom: 30px;
    font-size: 1rem;
    min-width: 100px;
}

/* footer */
footer {
    min-height: 5vh;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-nav-img {
    height: 5vh;
}



@media (max-width:768px) {
    body {
        height: 100%;
        width: 100%;
    }

    /* Navigation Header */
    .nav {
        --state-close: scale(0);
        --state-hamburguer: scale(1);
        --state-menu: translate(-100%);
    }

    .nav:target {
        --state-close: scale(1);
    }


    .nav-hamburguer,
    .nav-close {
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        transition: .4s transform;
    }

    .nav-links {
        padding: 0;
        background-color: #000;
        position: absolute;
        gap: 1.5em;
        grid-auto-flow: row;
        text-align: center;
        transform: var(--state-menu);
        transition: .3s transform;
    }

    .nav-link {
        font-size: 2.5rem;
        letter-spacing: none;
    }

    /* Main */

    main .main-gallery {
        display: grid;
        height: 100%;
    }

    .main-gallery h1 {
        text-align: center;
    }

    .contact-information {
        padding-left: 0;
        margin-bottom: 0.5rem;
    }

    .main-contact div {
        display: flex;
        flex-direction: column;
    }

    /* Galeria */

    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1) {
        grid-column-start: span 1;
    }

    .container-img .box-img:nth-child(4) {
        grid-row-start: span 2;
    }

    /* Contacto */

    .contact-section {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
    }

    .contact-section .info-contact {
        grid-column: 1;
        grid-row: 1/2;

    }

    .contact-section .info-contact ul {
        margin-top: 0;
    }

    .contact-section .form-contact {
        grid-column: 1;
        grid-row: 2/3;
    }

    /* footer */

    footer {

        grid-area: "footer";
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-contact {
        display: none;
    }

    .footer-nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .footer-nav ul li {
        margin: 10px;
    }

}

@media (max-width:480px) {


    /* buttons */

    .btn-circular {
        padding: 0.5rem 1rem;
        margin: 5px;
        margin-bottom: 30px;
        font-size: 1em;
    }

    /* main */

    .main-index h1 {
        margin: 2rem;
        font-size: 2.5rem;
    }

    .main-index h2 {
        margin: 1rem;
        font-size: 1.5rem;
        padding-bottom: 3rem;
    }

    /* Galeria */
    .container-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img {
        height: 200px;
    }


}