footer {
  min-height: 7vh;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .footer-nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        a {
          .footer-nav-img {
            height: 6vh;
          }
        }
      }
    }
  }
}
