/* galeria */

.container-img {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  .box-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    &:nth-child(1) {
      grid-column-start: span 2;
    }
    &:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.2);
      transition: 0.75s;
    }
  }
}
